<!DOCTYPE html>
<html>
<head>
    <title>Clustered Example</title>
    <script src="../lib/d3.v3.min.js"></script>
    <script src="../lib/d3.layout.cloud.js"></script>
    <!--<script src="../../ISM/ismApp.js"></script>-->
    <!--<script src="../d3-cloud/build/d3.layout.cloud.js"></script>-->
</head>
<style>
    body {
        font-family:"Lucida Grande","Droid Sans",Arial,Helvetica,sans-serif;
    }
    rect {
        stroke: black;
        stroke-width: 0.1;
    }
</style>
<body>
<div class="views">Different views:
    <ul>
        <li><a href="myCloud.html">myCloud</a></li>
        <li><a href="Uncluttered.html">Uncluttered view</a></li>
    </ul>
</div>
<div id="Clustered"></div>
<!--<script src="js/test.js"></script>-->
<script src="../js/layout.js"></script>
</body>

</html>