<!DOCTYPE html>
<html>
<head>
    <title>line+Brush Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link href="../styles/bootstrap.min.css" rel="stylesheet">
    <link href="../lib/dc/dc.css" rel="stylesheet">
    <link href="../styles/line.css" rel="stylesheet">
    <link href="../styles/brush.css" rel="stylesheet">
    <link href="../lib/eg/stylesheet.css" rel="stylesheet">
    <!--<link href="../lib/eg/stylesheet.css" rel="stylesheet">-->

    <script src="../lib/d3.v3.min.js" charset="utf-8"></script>
    <script src="../lib/angular/angular.js" charset="utf-8"></script>
    <script src="../lib/d3.layout.cloud.js"></script>
    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    <script src="../lib/crossfilter.js"></script>
    <script src="../lib/dc/dc.js"></script>

    <!--<script src="../lib/eg/jquery.tipsy.js"></script>-->
    <!--<script src="../js/Uncluttered.js"></script>-->
    <!--<script src="../js/layout.js"></script>-->
</head>
<body ng-app="app">

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="../index.html">Home</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="Uncluttered.html">Unclutered view</a>
                        </li>
                        <li>
                            <a href="Clustered.html">Clustered view</a>
                        </li>
                        <!--<li><a href="myCloud.html">myCloud</a></li>-->
                        <!--<li><a href="../lib/eg/index.html">brush</a></li>-->
                        <li><a href="Brush.html">Brush</a></li>
                        <!--<li class="active"><a href="../lib/eg/MultiLineChart_D3.html">line</a></li>-->
                    </ul>
                    <!--<form class="navbar-form navbar-left" role="search">-->
                    <!--<div class="form-group">-->
                    <!--<input class="form-control" type="text" />-->
                    <!--</div> <button type="submit" class="btn btn-default">Submit</button>-->
                    <!--</form>-->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row clearfix">

        <div class="col-md-12 column">
            <h3>
                Line + Brush View
            </h3>
            <p>本页面实现了一下几个功能：</p>
            <p>1、显示line的结果，显示类别，并且具备选择显示特定类别的功能</p>
            <p>2、添加brush的功能</p>
            <p>3、对选中的内容，添加过滤信息。</p>
            <!--<div class="line" ng-controller="lineBrushCtrl">-->

            <!--</div>-->
            <!--<div id="menu" class="menuchoice">Select series:-->
                <!--<select ng-model="data" ng-options="value for (value,arr) in nested" ng-change ='change(data)'>-->

                    <!--<option value="value" ng-bind="value"></option>-->
                <!--<option value="val2">Value 2</option>-->
                <!--<option value="val3">Value 3</option>-->
                <!--<option value="val4">Value 4</option>-->
                <!--</select><h1>{{data[0]}}</h1></div>-->
            <div ng-controller="ngCtl">
            <!--<div id="graphic"  ng-controller="lineBrushCtrl">-->
            <form name="info">
                <input type="number" ng-model="lineN" placeholder="line number" ng-change="changeLine(lineN)">

                <select ng-init="selectName = names[0]" ng-model="selectName" ng-options="x for x in names" ng-click="select(selectName)"></select>


                <!--<input type="checkbox" ng-model="confirmed" ng-change="" /> {{comfirmed}}-->
            </form>

                <div class="line"></div>
                <div class="graphic">
                    <!--<input type="number" ng-model="belongN" placeholder="line number">-->
                    <!--<input type="submit" value="Submit" ng-click="changeBelong(belongN)">-->
                </div>
                <input type="submit" value="showData" ng-click="showData()">
                <div class="crossfilter">
                    <div class="segment col-xs-3"></div>
                    <div class="gender col-xs-3"></div>
                    <div class="years col-xs-3"></div>
                    <div class="cartSize col-xs-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script src="../js/lineBrush.js"></script>-->
<script src="../js/line.js"></script>
<script type="text/javascript" src="../lib/eg/jquery.tipsy.js"></script>
<script src="../js/layout.js"></script>
<script src="../js/Uncluttered.js"></script>
<script src="../js/on.js"></script>
</body>